*{
    margin: 0;
    padding: 0;
}

/* Default CSS properties*/
p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #3E3E3E;
    margin-top: 15px;
}
#heading-red-line{
    width: 4px;
    height: 150px;
    background-color: #FF5959;
    height: 124px;
}
.first-content-divison{
    display: flex;
}
.all-button{
    background-color: #fdc8c8;
    border-radius: 7px;
    width: 170px;
    height: 50px;
    margin-top: 40px;
    border: none;
    cursor: pointer;
    color: black;
}

/* First container */
#first-container{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.first-cont-first-heading{
    margin-left: 15px;
    font-family: 'Yeseva One', cursive;
    font-size: 60px;
}
.first-cont-second-heading{
    margin-left: 15px;
    font-family: 'Yeseva One', cursive;
    font-size: 60px;
    color: #FFAD5A;
}
.first-cont-third-heading{
    margin-top: 48px;
    font-family: 'Poppins', sans-serif;
}
.person-0{
    width: 80%;
}
.person-0 img{
    width: 100%;
    /* height: 623px; */
    /* width: 428px; */
}
.first-content-divison{
    margin-top: 200px;
}
/* Second container */
#second-container{
    width: 80%;
    margin: 100px auto;
}
.second-cont-first-heading{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    margin-bottom: 50px;
}
.second-cont-first-heading span{
    color: #FFAD5A;
}
.mission-container{
    display: flex;
    
}
.mission-container .mission-image img{
    width: 150px;
    height: 150px;
}
.all-misssin{
   box-shadow: 8px 8px 8px gray;
   margin: 15px;
   padding: 15px;
   border-radius: 10px;
}
.all-misssin h1{
    font-family: 'Poppins', sans-serif;
 }
.all-misssin p{
   text-align: justify;
}
.mission{
    background-color: #f3efee;
    width: 100%;
}
.vision{
    width: 100%;
    background-color: #c7f1f1;
}
.goals{
    width: 100%;
    background-color: #FFF4D6;
}
