*{
    margin: 0;
    padding: 0;
}

/* Default CSS properties*/
h1{
    font-family: 'Poppins', sans-serif;
    line-height: 28px;
    color: #3E3E3E;
    margin-top: 15px;
}
p{
    font-family: 'Poppins', sans-serif;
    line-height: 28px;
    color: #3E3E3E;
    margin-top: 15px;
    text-align: justify;
}
#heading-red-line{
    width: 4px;
    height: 150px;
    background-color: #FF5959;
    height: 124px;
}
.first-content-divison{
    display: flex;
}
.all-button{
    background-color: #f73737;
    border-radius: 7px;
    width: 170px;
    height: 50px;
    margin-top: 40px;
    border: none;
    cursor: pointer;
    color: white;
}

/* First container */
#first-container{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.first-cont-first-heading{
    margin-left: 15px;
    font-family: 'Yeseva One', cursive;
    font-size: 60px;
}
.first-cont-second-heading{
    margin-left: 15px;
    margin-top: 47px;
    margin-bottom: 40px;
    font-family: 'Yeseva One', cursive;
    font-size: 60px;
    color: #FFAD5A;
}
.first-cont-third-heading{
    margin-top: 48px;
}
.person-0{
    width: 80%;
}
.person-0 img{
    width: 100%;
}
.first-content-divison{
    margin-top: 200px;
}

/* Second container */
#second-container{
    width: 80%;
    margin: 100px auto;
}
.second-cont-first-heading{
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
}
.second-cont-first-heading span{
    color: #FFAD5A;
}
.mission-container{
    display: flex;
}
.mission-container .mission-image img{
    width: 150px;
    height: 150px;
}
.all-misssin{
   box-shadow: 8px 8px 8px gray;
   margin: 15px;
   padding: 15px;
   border-radius: 10px;
}
.all-misssin p{
   text-align: justify;
}
.mission{
    background-color: #f3efee;
    width: 100%;
}
.vision{
    width: 100%;
    background-color: #c7f1f1;
}
.goals{
    width: 100%;
    background-color: #FFF4D6;
}

/* Third container */
#third-container{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.third-cont-image img{
    width: 440px;
    height: 350px;
    margin-right: 30px;
    border-radius: 20px;
}

/* Fourth section */
#fourth-section{
    display: flex;
    width: 80%;
    margin: 100px auto;
}
.fourth-cont-content{
    width: 100%;
}
.fourth-cont-image img{
    width: 400px;
    height: 400px;
    margin-left: 30px;
}

